grant {
      permission java.io.FilePermission "${fury.sharedDir}${/}-", "read,write";
      permission java.lang.RuntimePermission "getenv.SHARED", "read";
      permission java.util.PropertyPermission "fury.sharedDir", "read";
      permission java.util.PropertyPermission "scala.*", "read";
      permission java.net.SocketPermission "*", "connect,resolve";
};
