name: CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2.0.0
    - run: git fetch --prune --unshallow
    - uses: actions/cache@v1.1.2
      with:
       path: ~/.cache/coursier
       key: ${{ runner.os }}-coursier-${{ hashFiles('layers/*') }}
    - name: Run Makefile
      run: |
        git describe --tags
        make install
      timeout-minutes: 5
    - name: Package compilation logs
      if: failure()
      run: find ~ -type f -name '*.log' | tar cvzf compilation-logs.tar.gz --files-from -
    - uses: actions/upload-artifact@v1.0.0
      with:
        name: compilation-logs-${{ runner.os }}
        path: compilation-logs.tar.gz
      if: failure()
    - name: Run unit tests
      run: |
        make -k test || touch unittests.failed
        ! ls -1 unittests.failed 2> /dev/null
      timeout-minutes: 5
    - name: Run integration tests
      run: |
        cat ~/.bashrc
        source /home/runner/.bashrc
        echo $PATH
        git config --global user.name $USER
        git config --global user.email johndoe@example.com
        etc/integration || touch integration.failed
        ! ls -1 integration.failed 2> /dev/null
      timeout-minutes: 5
    - name: Run community builds
      run: |
        etc/community || touch community.failed
        ! ls -1 community.failed 2> /dev/null
      timeout-minutes: 10
    - name: Package logs
      if: failure()
      run: find ~ -type f -name '*.log' | tar cvzf logs.tar.gz --files-from -
    - uses: actions/upload-artifact@v1.0.0
      with:
        name: logs-${{ runner.os }}
        path: logs.tar.gz
      if: failure()
    - name: Inspect cache
      if: contains(runner.os, 'ubuntu')
      run: du -h ~/.cache/fury --max-depth 2        
    - name: Summary
      run: |
        ! ls -1 *.failed 2> /dev/null
