name: CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2-beta
    - uses: actions/cache@v1
      with:
       path: ~/.cache/coursier
       key: ${{ runner.os }}-coursier-${{ hashFiles('layers/*') }}
    - name: Run Makefile
      run: |
        make test-install
        lsof -i :8462 -i :8212 -t | xargs kill
        echo "::add-path::$HOME/.fury/bin"
      timeout-minutes: 5
    - name: Package compilation logs
      if: failure()
      run: find . -type f -name '*.log' | tar cvzf compilation-logs.tar.gz --files-from -
    - uses: actions/upload-artifact@v1
      with:
        name: compilation-logs-${{ runner.os }}
        path: compilation-logs.tar.gz
      if: failure()
    - name: Prepare environment for integration tests
      run: |
        git config --global user.name $USER
        git config --global user.email johndoe@example.com
        mkdir $HOME/opt
        pushd $HOME/opt
        IPFS_BUILD=linux
        if [[ ${{ matrix.os }} =~ macos-[a-zA-Z0-9_] ]]; then IPFS_BUILD=darwin; fi
        curl -s -L https://dist.ipfs.io/go-ipfs/v0.4.22/go-ipfs_v0.4.22_$IPFS_BUILD-amd64.tar.gz | tar zxf - go-ipfs/ipfs
        popd
        $HOME/opt/go-ipfs/ipfs init
        lsof -i :8462 -i :8212 -t | xargs kill
        echo "::add-path::$HOME/opt/go-ipfs"
      timeout-minutes: 2
    - name: Run integration tests
      run: |
        etc/integration || touch integration.failed
        ! ls -1 integration.failed 2> /dev/null
      timeout-minutes: 5
    - name: Package integration logs
      run: find test -type f -name '*.log' | tar cvzf integration-logs.tar.gz --files-from -
    - uses: actions/upload-artifact@v1
      with:
        name: integration-logs-${{ runner.os }}
        path: integration-logs.tar.gz
    - name: Run community builds
      run: |
        etc/community || touch community.failed
        ! ls -1 community.failed 2> /dev/null
      timeout-minutes: 10
    - name: Package community logs
      run: find test -type f -name '*.log' | tar cvzf community-logs.tar.gz --files-from -
    - uses: actions/upload-artifact@v1
      with:
        name: community-logs-${{ runner.os }}
        path: community-logs.tar.gz
    - name: Inspect cache
      if: contains(runner.os, 'ubuntu')
      run: du -h ~/.cache/fury --max-depth 2        
    - name: Summary
      run: |
        ! ls -1 *.failed 2> /dev/null
